.main {
  width: 100%;
  max-width: 1120px;
  margin: auto;
  margin-block: 40px;
  padding-inline: 30px;
}

h1 {
  display: flex;
  align-items: center;
  column-gap: 10px;
  padding-block: 20px;
}

h1 img {
  height: 60px;
}

.banner {
  margin-top: 10px;
  aspect-ratio: 42/9;
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.main ul {
  margin-top: 10px;
  display: flex;
  gap: 15px;
  display: flex;
  flex-wrap: wrap;
}


.main ul img {
  height: 50px;

}

.main li {
  width: calc(100%/2 - 10px);
  font-size: 24px;
  list-style: none;
  display: flex;
  align-items: center;
  background-color: #1b2031;
  padding: 22px 10px;
  gap: 10px;
  border-radius: 15px;
  text-transform: uppercase;
}

.main li .role {
  text-transform: capitalize;
  display: block;
  font-size: 20px;
  opacity: 0.5;
}

@media (max-width: 900px) {

  .main ul {
    flex-direction: column;
  }

  .main li {
    width: 100%;
  }

  .banner {
    height: 120px;
  }
}

@media (max-width: 700px) {

  .main li {
    font-size: 22px;
  }

  .main li .role {
    font-size: 18px;
  }

}